In [3]:
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd'])
series = pd.Series(data, index = range(100, 104, 1))

print(series)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
data = {100: 'a', 101: 'b', 102: 'c', 103: 'd'}
series = pd.Series(data)

print(series)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
data = np.array(['A', 'B', 'C', 'D', 'E'])
series = pd.Series(data, index = [1, 2, 3, 4, 5])

print(series)

1    A
2    B
3    C
4    D
5    E
dtype: object

In [12]:
data = [['Tim', 35], ['Sonya', 30], ['Sunny', 34]]

df = pd.DataFrame(data, columns=['Name', 'Age'], dtype=str)
df['Age'] = df['Age'].astype(float)

print(df)

    Name   Age
0    Tim  35.0
1  Sonya  30.0
2  Sunny  34.0

In [13]:
data = {'one': pd.Series([1, 2, 3], index = ['a', 'b', 'c']),
        'two': pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [16]:
data = {'Artist': pd.Series(['Billie Holiday', 'Jimi Hendrix', 'Miles Davis', 'SIA']),
        'Genre': pd.Series(['Jazz', 'Rock', 'Jazz', 'Pop']),
        'Listeners': pd.Series([1300000, 2700000, 1500000, 2000000]),
        'Plays': pd.Series([27000000, 70000000, 48000000, 74000000])}

df = pd.DataFrame(data)
print(df)

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
1    Jimi Hendrix  Rock    2700000  70000000
2     Miles Davis  Jazz    1500000  48000000
3             SIA   Pop    2000000  74000000